section.content {
  z-index: 0;
}

// Mobile, Tablet & Laptop -
@media (max-width: $max-xxlarge) {
  section.content {
    min-height: calc(100vh - 5.375rem);
  }
}

// Large screens +
@media (min-width: $min-xxlarge) {
  section.content {
    min-height: 90vh;
  }
}