nav.navbar {
  height: 10vmin;
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  > div.logo {
    position: absolute;
    left: 0;
    width: 30vmin;
    height: 100%;
    margin-left: -1rem;

    > img.logo-img {
      height: 100%;
    }

    > span.logo-text {
      margin-top: .5rem;
      margin-left: -0.5rem;

      > svg {
        width: 15vmin;
        height: auto;
      }
    }
  }

  > button.hamburger {
    z-index: 1;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    width: 10vmin;
    height: 10vmin;

    > span.hamburger-box {
      position: relative;
      display: inline-block;
      vertical-align: middle;
    }

    &:focus {
      outline: 0;
    }
  }
}

@media (max-width: $max-xxlarge) {
  nav.navbar {
    display: block;
  }
}

@media (min-width: $min-xxlarge) {
  nav.navbar {
    display: none;
  }
}
